@charset "utf-8";
	
/* reset */
html{color:#666;background-color:#eee}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0;_table-layout:fixed}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,th,var,optgroup{font-style:normal;font-weight:400}
li{list-style:none}
caption{text-align:left}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:text-top}sub{vertical-align:text-bottom}
input,textarea,select,button,option{font-family:inherit;font-size:inherit;font-weight:inherit}
h1,h2,h3,h4,h5,h6,input,textarea,select,button{font-size:100%}
legend{color:#000}
q:before,q:after{content:''}
  
/* layout */
#doc{width:100%;min-width:1190px}
#hd,#ft{width:100%;min-width:1190px}
#bd{width:980px;margin:0 auto;clear:both}
.yt-wrap{width:1190px;margin:0 auto}

/* Grid */
#doc-w,.g-main{width:100%}
.g-side{width:190px}
.g-aside{width:270px;position:relative}
.g-side,.grid-r2 .g-main,.grid-l2 .g-side,.grid-r3 .g-aside,.grid-rc .g-main,.grid-r3 .g-main{float:left}
.g-main,.g-aside,.grid-r2 .g-side,.grid-r3 .g-side,.grid-rc .g-side{float:right}
.grid-r2 .g-main,.grid-rc .g-main{margin-right:-100%}
.grid-l2 .g-main,.grid-lc .g-main{margin-left:-100%}
.grid-r2 .g-wrap{margin-right:210px}
.grid-l2 .g-wrap{margin-left:210px}
.grid-r3 .g-main{margin:0 -190px 0 -270px}
.grid-r3 .g-wrap{margin:0 210px 0 280px}
.grid-l3 .g-main{margin:0 -270px 0 -190px}
.grid-l3 .g-wrap{margin:0 280px 0 210px}
.grid,.grid-l2,.grid-r2,.grid-l3,.grid-r3,.grid-lc,.grid-rc{margin-bottom:20px;position:relative;*display:inline-block}
.grid:after,.grid-l2:after,.grid-r2:after,.grid-l3:after,.grid-r3:after,.grid-lc:after,.grid-rc:after{clear:both;content:'';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}

/* Global */
body{font:normal 12px/1.5 Verdana,simsun,Sans-Serif}
a{color:#666;text-decoration:none}
a:hover{color:#e5004f}
.cf{zoom:1}
.cf:after {content:".";display:block;height:0;clear:both;visibility:hidden}
.hidden{display:none}
.f-hidden{display:none !important}
.tab-content{overflow:hidden}

/* common style */
p.breakword,h1.breakword,div.breakword{word-wrap:break-word;word-break:break-all}
.pink,a.pink{color:#e5004f}
.red,a.red{color:red}a.red:hover{color:#e5004f}
.blue,a.blue{color:blue}a.blue:hover{color:#e5004f}
.green,a.green{color:green}a.green:hover{color:#e5004f}
.gray,a.gray{color:gray}a.gray:hover{color:#e5004f}
.f14{font-size:14px}
.fbold{font-weight:700}
.underline{text-decoration:underline}
.w100{width:100px}
.w200{width:200px}
.w300{width:300px}
.w400{width:400px}
.w500{width:500px}
.w600{width:600px}
.poa{position:absolute}
.por{position:relative}
.yt-pink{color:#E5004F}

/*-- Widget & Parttern --*/
/* crumbs */
.crumbs{ padding:9px 0;width:100%;height:20px}
.crumbs span{color:#666;margin:0 3px 0 0}
.crumbs span a{color:#666}
.crumbs span a:hover{color:#e5004f}
.crumbs .crumbs-links{font-family:"\5b8b\4f53",Arial,Lucida,Verdana,Helvetica,sans-serif}
.crumbs .crumbs-now{color:#000}

/* tabview */
.c-tabview .tab-nav li{position:relative;float:left}
.c-tab-default .tab-nav{height:30px;border-bottom:1px solid #ccc}
.c-tab-default .tab-nav li{_top:1px;height:29px;margin:0 3px 0 0;padding:0 15px;border-top:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #ccc;background:#e1e1e1;line-height:29px}
.c-tab-default .tab-nav li a{outline:none}
.c-tab-default .tab-nav .selected{height:30px;background:#fff}
.c-tab-default .tab-content{border-bottom:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #ccc}

/* table */
.c-table{width:100%;table-layout:fixed}
.c-table table{width:100%}
.c-table th{background:#f9f9f9;font-weight:700;color:#333}
.c-table th,.c-table td{text-align:center;border:#ccc solid 1px;padding:10px}
.c-table .tw2{width:200px}

/* form */
.c-form p{padding:10px 10px 0}
.c-form .lab{width:7em;display:inline-block;*display:inline;*zoom:1;text-align:right}
.c-form p input{padding:2px;vertical-align:middle}
.c-form p .radio{margin-right:3px}
.c-form p em{color:#999;margin-left:10px}
.c-form .nolab{padding-left:8em}
.c-form .labox{display:inline-block;*display:inline;*zoom:1;vertical-align:top;line-height:2em;padding-top:6px}
.nolab label{margin-right:6px}

/* btn */
.c-btn,.c-lbtn{background:#525252 url(/rs/img/hp/rpt.png) repeat-x 0 -160px;color:#eee;border:1px solid #333;font-size:14px;line-height:1;cursor:pointer;overflow:visible;outline:none;padding:6px 15px 8px;padding:8px 15px 6px\9;/*[;padding:5px 12px 6px;];*/*padding:6px 14px 4px;height:30px}
.c-btn.c-btn-big,.c-lbtn.c-lbtn-big{font-weight:700;height:35px;padding:7px 13px 9px;padding:7px 14px\9;*padding:4px 13px;_padding:4px 13px;background-position:0 -109px}
.c-btn.c-btn-small,.c-lbtn.c-lbtn-small{font-size:12px;line-height:14px;height:22px;padding:0 12px 3px;padding:4px 15px\9;*padding:3px 14px 2px;_padding:3px 14px 0;background-position:0 -214px}
.c-btn:hover{background-position:0 -37px;*background-position:0 -38px;background-color:#4c4c4c;color:#fff}
.c-btn.c-btn-big:hover{background-position:0 0;*background-position:0 -1px}
.c-btn.c-btn-small:hover{background-position:0 -73px;*background-position:0 -74px}
.c-lbtn{background-color:#fff;border:1px solid #e0e0e0;color:#000;background-position:0 -301px}.c-lbtn:hover{background-position:0 -485px;background-color:#f0f0f0}
.c-lbtn.c-lbtn-big{background-position:0 -252px}.c-lbtn.c-lbtn-big:hover{background-position:0 -432px}
.c-lbtn.c-lbtn-small{background-position:0 -347px}.c-lbtn.c-lbtn-small:hover{background-position:0 -535px}
a.c-btn,a.c-lbtn{padding:5px 15px 6px;*padding:6px 15px 6px}
a.c-btn.c-btn-big,a.c-lbtn.c-lbtn-big{padding:7px 16px 9px;padding:8px 14px\9;*padding:8px 14px 9px;_padding:8px 14px 9px}
a.c-btn.c-btn-small,a.c-lbtn.c-lbtn-small,a.c-lbtn.c-lbtn-pink{padding:2px 15px 3px;*padding:3px 15px 2px;_padding:4px 15px 2px}
a.c-btn:hover{color:#fff;*background-position:0 -36px}a.c-lbtn:hover{color:#000}
a.c-btn.c-btn-big:hover{*background-position:0 1px}a.c-btn.c-btn-small:hover{*background-position:0 -73px;_background-position:0 -72px}
.c-lbtn.c-lbtn-pink,.c-lbtn.c-lbtn-pink:hover{background-color:#cc0176;background-position:0 -571px;border:1px solid #83044b;color:#ffd0f8}
a.c-lbtn.c-lbtn-pink{*background-position:0 -570px;_padding:2px 15px}
.c-lbtn.c-lbtn-pink:hover,a.c-lbtn.c-lbtn-pink:hover{color:#fff;*background-position:0 -570px}

/* Only FireFox 3+ */
html>/**/body button.c-btn, x:-moz-any-link, x:default,
html>/**/body button.c-lbtn, x:-moz-any-link, x:default {padding:3px 12px 12px}
html>/**/body a.c-btn.c-btn-small, x:-moz-any-link, x:default {padding:2px 15px 3px}	

/* tip */
.msg .error,.msg .stop,.msg .alert,.msg .attention,.msg .tips,.msg .ok,.msg .notice,.msg .question,.msg .help,.msg .small-help,.msg .None,.msg .warningNormal,.msg .confirmNormal{color:#404040;background:url(http://r.ytrss.com/rs/img/msg_bg.png) no-repeat;border:1px solid #ddd;padding:2px 10px 2px 23px;line-height:18px;display:inline-block;*display:inline;*zoom:1}
.msg .error,.msg .warningNormal{background-position:3px 3px;border-color:#ff8080;background-color:#fff2f2;width:auto;margin:0}
.msg .stop{background-position:3px -47px;border-color:#ff8080;background-color:#fff2f2}
.msg .alert{background-position:3px -97px;border-color:#ff8c40;background-color:#fff5f6}
.msg .attention,.msg .None{background-position:3px -147px;border-color:#f3149a;background-color:#ffe8f6}
.msg .tips{background-position:3px -197px;border-color:#ffcc7f;background-color:#ffffe5}
.msg .ok,.msg .confirmNormal{background-position:3px -247px;border-color:#4dbf00;background-color:#f0ffe5}
.msg .notice{background-position:5px -295px;border-color:#40b3ff;background-color:#e6f5ff}
.msg .question{background-position:3px -347px;border-color:#bfbfbf;background-color:#f8f8f8}
.msg .small-help{background-position:5px -1095px;border-color:#fff;background-color:#fff}
.msg .help{background-position:3px -1197px;border-color:#fff;background-color:#fff}
.msg .naked{border:0 none;background-color:transparent}
.whole-msg .msg .tips,.whole-msg .msg .confirmNormal,.whole-msg .msg .None,.whole-msg .msg .warningNormal{display:block}

/* {head} */
#hdtop{height:34px;border-bottom:1px solid #fff;background-color:#eee}
#hdtop .top-side{height:34px}
#hdtop .top-entry{float:left;height:34px;padding-left:4px;color:#d4d4d4}
#hdtop .top-entry li{float:left;position:relative;z-index:500}
#hdtop .top-entry .yt_wechat{width:82px;height:34px}
#hdtop .top-entry li a{float:left;line-height:34px;padding-left:27px;margin:0 6px}
#hdtop .top-entry li a s{position:absolute;top:7px;left:6px;z-index:2;width:21px;height:21px;background:url(/rs/img/header-02.png) 0 0 no-repeat}
#hdtop .top-entry li a.collect s{background-position:-225px 0}
#hdtop .top-entry li a.collect:hover s{background-position:-225px -27px}

#hdtop .top-entry li a.wechat s {background-position:-225px -57px}
#hdtop .top-entry li .yt-wechat a.wechat s {background-position:-225px -87px}
#hdtop .top-entry li a.wechat{width:40px;margin:0;padding:0 6px 0 31px;+border:solid #eee;+border-width:0 1px;border:solid #eee\0;border-width:0 1px\0}
#hdtop .top-entry li .yt-wechat .wechat{width:87px;position:absolute;top:0;left:0}
#hdtop .top-entry li a.wechat b{position:absolute;left:62px;top:16px;+top:15px;top:15px\0;_top:14px;width:9px;height:5px;overflow:hidden;background:url(/rs/img/header-01.png) -175px -111px no-repeat;transition:transform .2s ease-in 0s;-webkit-transition:-webkit-transform .2s ease-in 0s;-moz-transition:-moz-transform .2s ease-in 0s}
#hdtop .top-entry li a.wechat .blank{display:none;width:123px;height:8px;position:absolute;bottom:0;left:0;+left:1px;left:1px\0;z-index:1;overflow:hidden;background-color:#fff}
#hdtop .top-entry li.separator{float:left;width:0;height:14px;line-height:14px;position:relative;top:10px;left:0;font-size:0;overflow:hidden;border-left:1px solid #ccc;margin:0 4px}
#hdtop .top-entry li.log-yt-wechat{width:79px;height:34px;z-index:502}
#hdtop .top-entry li .log-wechat{width:79px;height:34px;position:relative}
#hdtop .top-entry li .yt-wechat{-webkit-box-shadow:0 0 8px #cdcdcd;-moz-box-shadow:0 0 8px #cdcdcd;box-shadow:0 0 8px #cdcdcd;-o-box-shadow:none}
#hdtop .top-entry li .yt-seller-wechat{display:none;position:absolute;top:34px;left:0;width:100px;height:100px;padding:8px 12px 10px;+border:solid #d9d8d8;+border-width:0 1px 1px;border:solid #d9d8d8\0;border-width:0 1px 1px\0;background-color:#fff;-webkit-box-shadow:0 0 8px #cdcdcd;-moz-box-shadow:0 0 8px #cdcdcd;box-shadow:0 0 8px #cdcdcd}
#hdtop .top-entry li .yt-wechat a.wechat{+border:solid #d9d8d8;+border-width:0 1px;border:solid #d9d8d8\0;border-width:0 1px\0;background-color:#fff;color:#e5004f}
#hdtop .top-entry li .yt-wechat a.wechat b{transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);background-position:-175px -128px}
#hdtop .top-entry li .yt-wechat a.wechat .blank{display:block}

#hdtop .top-entry li.log-yt-phone{width:148px;height:34px;z-index:501}
#hdtop .top-entry li .log-phone{width:148px;height:34px;position:relative}
#hdtop .top-entry li .yt-phone-link{width:72px;margin:0;padding-left:28px;+border:solid #eee;+border-width:0 1px;border:solid #eee\0;border-width:0 1px\0}
#hdtop .top-entry li .yt-phone .yt-phone-link{position:absolute;top:0;left:0}
#hdtop .top-entry li .yt-phone-link s{height:20px;background:url(/rs/img/homepage/phone.png) center 0 no-repeat}
#hdtop .top-entry li .yt-phone-link b{position:absolute;left:82px;top:16px;+top:15px;top:15px\0;_top:14px;width:9px;height:5px;overflow:hidden;background:url(/rs/img/header-01.png) -175px -111px no-repeat;transition:transform .2s ease-in 0s;-webkit-transition:-webkit-transform .2s ease-in 0s;-moz-transition:-moz-transform .2s ease-in 0s}
#hdtop .top-entry li .yt-phone-link .blank{display:none;width:147px;height:8px;position:absolute;bottom:0;left:0;+left:1px;left:1px\0;z-index:1;overflow:hidden;background-color:#fff}
#hdtop .top-entry li .yt-phone{width:148px;position:absolute;left:0;top:0;-webkit-box-shadow:0 0 8px #cdcdcd;-moz-box-shadow:0 0 8px #cdcdcd;box-shadow:0 0 8px #cdcdcd;background-color:#fff}
#hdtop .top-entry li .yt-phone .yt-phone-link{width:108px;+border:solid #d9d8d8;+border-width:0 1px;border:solid #d9d8d8\0;border-width:0 1px\0;background-color:#fff}
#hdtop .top-entry li .yt-phone .yt-phone-link s{background-position:center bottom}
#hdtop .top-entry li .yt-phone .yt-phone-link b{display:block;transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);background-position:-175px -128px}
#hdtop .top-entry li .yt-phone .yt-phone-link .blank{display:block}
#hdtop .top-entry li .yt-seller-phone{display:none;position:absolute;top:34px;left:0;width:134px;height:145px;padding:8px 7px 10px;background-color:#fff;+border:solid #d9d8d8;+border-width:0 1px 1px;border:solid #d9d8d8\0;border-width:0 1px 1px\0;background-color:#fff;-webkit-box-shadow:0 0 8px #cdcdcd;-moz-box-shadow:0 0 8px #cdcdcd;box-shadow:0 0 8px #cdcdcd}
#hdtop .top-entry li .yt-seller-phone a{float:none;display:block;padding-left:0;margin:0}
#hdtop .top-entry li .yt-seller-phone img{vertical-align:top;width:134px;height:145px}

#hdtop .top-logs{float:right;height:34px}
#hdtop .top-logs li{float:left;height:34px}
#hdtop .top-logs li.log-user{line-height:34px;padding-right:10px}
#hdtop .top-logs li.log-user .login{margin-right:10px}

#hdtop .top-logs li .log-link{float:left;height:26px;padding:8px 10px 0}
#hdtop .top-logs li.separator{float:left;width:0;height:14px;line-height:14px;position:relative;top:10px;left:0;font-size:0;overflow:hidden;border-left:1px solid #ccc;margin:0 2px}
#hdtop .top-logs li.log-yt-home{position:relative;z-index:500}

#hdtop .top-logs li .yt-home{width:62px;+border:solid #eee;+border-width:0 1px;border:solid #eee\0;border-width:0 1px\0}
#hdtop .top-logs li .yt-home b{position:absolute;left:62px;top:16px;+top:15px;top:15px\0;_top:14px;width:9px;height:5px;overflow:hidden;background:url(/rs/img/header-01.png) -175px -111px no-repeat;transition:transform .2s ease-in 0s;-webkit-transition:-webkit-transform .2s ease-in 0s;-moz-transition:-moz-transform .2s ease-in 0s}
#hdtop .top-logs li .yt-myhome .yt-home{+border:solid #d9d8d8;+border-width:0 1px;border:solid #d9d8d8\0;border-width:0 1px\0;-webkit-box-shadow:0 0 8px #cdcdcd;-moz-box-shadow:0 0 8px #cdcdcd;box-shadow:0 0 8px #cdcdcd;background-color:#fff}
#hdtop .top-logs li .yt-myhome .yt-home b{background-position:-175px -128px;transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2)}
#hdtop .top-logs li .yt-myhome .blank{width:82px;height:8px;position:absolute;bottom:0;left:0;+left:1px;left:1px\0;z-index:1;overflow:hidden;background-color:#fff}
#hdtop .top-logs li .yt-seller-myhome{display:none;position:absolute;top:34px;left:0;clear:both;width:82px;+border:solid #d9d8d8;+border-width:0 1px;border:solid #d9d8d8\0;border-width:0 1px\0;-webkit-box-shadow:0 0 8px #cdcdcd;-moz-box-shadow:0 0 8px #cdcdcd;box-shadow:0 0 8px #cdcdcd;background-color:#fff}
#hdtop .top-logs li .yt-home-link {clear:both}
#hdtop .top-logs li .yt-home-link p{height:29px;line-height:29px;border-bottom:1px solid #dcdcdc}
#hdtop .top-logs li .yt-home-link p a{display:block;text-indent:10px}
#hdtop .top-logs li .yt-home-link p a:hover{text-decoration:underline}

#hdadvert{min-height:80px;_height:80px;background-color:#9b003f}
#hdadvert .top-banner{min-height:80px;_height:80px}

#hdmain{height:120px;background-color:#fff}
#hdmain .top-main{height:120px}
#hdmain .ilogo{float:left;width:215px;height:76px;margin-top:21px}
#hdmain .ilogo a{display:block;overflow:hidden;width:215px;height:76px;text-indent:-999px;background:#eee url(/rs/img/header-20160223.gif) 0 0 no-repeat}
#hdmain .pop-ilogo{float:left;height:76px;margin-top:21px;padding-right:3px}
#hdmain .pop-ilogo a{float:left;overflow:hidden;width:96px;height:76px;text-indent:-999px;background:#eee url(/rs/img/pop-logo.png) 0 0 no-repeat}
#hdmain .pop-ilogo .pop-title{float:left;padding-top:34px}
#hdmain .pop-ilogo h3{padding-left:10px;max-width:180px;height:22px;font:400 16px/22px "\5fae\8f6f\96c5\9ed1";color:#e5004f;overflow:hidden}
#hdmain .pop-ilogo h4{padding-left:10px;max-width:180px;height:22px;font:400 16px/20px "\5fae\8f6f\96c5\9ed1";color:#e5004f;overflow:hidden}
#hdmain .itype{float:left;width:145px;height:80px;margin-top:18px;overflow:hidden}
#hdmain .itype .line {float:left;width:0px;height:70px;margin:6px 10px 0;overflow:hidden;border-left:1px solid #efefef}
#hdmain .itype a{float:left;width:120px;height:80px}
#hdmain .itype img {vertical-align:top;width:120px;height:80px}

#hdmain .isearch{float:right;width:498px;margin-top:40px;position:relative;z-index:401}
#hdmain .searchbox{width:494px;height:30px;margin-bottom:8px;border:2px solid #323333}
#hdmain .searchbox input{float:left;width:440px;height:30px;line-height:30px;padding:0 5px;float:left;background:transparent;border:none;color:#888}
#hdmain .searchbox button{float:left;width:44px;height:30px;text-indent:-1000em;border:none;overflow:hidden;cursor:pointer;background:#323333 url(/rs/img/header-01.png) 0 -78px no-repeat}
#hdmain .hotkeyword{width:498px;height:18px;overflow:hidden}
#hdmain .hotkeyword a{float:left;margin-right:12px;color:#888}
#hdmain .hotkeyword a:hover{text-decoration:underline;color:#e5004f}
#hdmain .keywords-list{display:none;width:450px;position:absolute;left:0;top:32px;z-index:9999;border:2px solid #323333;background:#fff;zoom:1;overflow:hidden}
#hdmain .keywords-list ul{padding:10px 0}
#hdmain .keywords-list li{display:block;height:26px;line-height:26px;cursor:pointer;clear:both;zoom:1}
#hdmain .keywords-list .split-line{border-bottom:1px solid #FFFFFF;border-top:1px solid #D2D2D2;height:0;margin:6px 10px 4px;overflow:hidden}
#hdmain .keywords-list .cur-cat{padding-left:12px}
#hdmain .keywords-list .cur-cat strong{color:#e5004f;font-weight:normal}
#hdmain .keywords-list li div{padding:0 10px;width:140px}
#hdmain .keywords-list .selected{background:#eee;color:#e5004f}

#hdmain .icart{float:right;width:160px;height:34px;margin:40px 0 0 18px;position:relative;z-index:402}
#hdmain .icart .minishop{display:block;width:160px;height:34px;background:#323333 url(/rs/img/header-01.png) -55px -76px no-repeat}
#hdmain .icart .minishop span{float:left;height:34px;line-height:34px;padding-left:48px;color:#fff}
#hdmain .icart .minishop b{float:right;margin-right:20px;margin-top:16px;width:7px;height:4px;overflow:hidden;transition:transform .2s ease-in 0s;-webkit-transition:-webkit-transform .2s ease-in 0s;-moz-transition:-moz-transform .2s ease-in 0s;background:url(/rs/img/header-01.png) -189px -111px no-repeat}
#hdmain .icart .minishop:hover span{color:#fff}
#hdmain .cur-icart b{transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2)}
#hdmain .icart .minishop span strong{padding:0 5px;font:400 16px/34px Arial;color:#e5004f;vertical-align:middle}
#hdmain .icart .yt-bags{position:absolute;right:0;top:34px;width:290px;+border:1px solid #cacaca;border:1px solid #cacaca\0;-webkit-box-shadow: 0 0 8px #cacaca;-moz-box-shadow:0 0 8px #cacaca;box-shadow:0 0 8px #cacaca;background-color:#fff}
#hdmain .cur-icart .yt-bags{display:none}
#hdmain .icart .yt-bags-nothing{width:290px;height:70px;line-height:70px;text-align:center}
#hdmain .icart .yt-bags-loading{width:290px;height:70px;line-height:70px;text-align:center;background:url(/rs/img/mini-yt-cart-loading.gif) center center no-repeat}
#hdmain .icart .yt-settle-up{width:290px}
#hdmain .icart .settle-title{height:30px;background-color:#eee}
#hdmain .icart .settle-title h4{height:30px;line-height:30px;text-indent:10px;font-size:12px;font-weight:400}
#hdmain .icart .settle-content{clear:both;position:relative;overflow:hidden}
#hdmain .icart .settle-part{height:308px;overflow-y:auto;overflow-y:scroll;scrollbar-arrow-color:#a3a3a3;scrollbar-face-color:#f1f1f1;scrollbar-3dlight-color:#a9a9a9;scrollbar-highlight-color:#f1f1f1;scrollbar-shadow-color:#a9a9a9;scrollbar-darkshadow-color:#efefef;scrollbar-track-color:#f1f1f1;scrollbar-base-color:#f1f1f1}
#hdmain .icart .settle-part .settle-group{width:auto}
#hdmain .icart .settle-group{width:290px;clear:both}
#hdmain .icart .settle-group .p-sale{height:30px;padding:0 10px;overflow:hidden;background-color:#ece8de}
#hdmain .icart .settle-group .p-sale span{float:left;height:16px;line-height:16px;padding:0 5px;margin:7px 7px 0 0;border:1px solid #b2a17c;background-color:#c4b697;color:#fff}
#hdmain .icart .settle-group .p-sale p{float:left;width:170px;height:30px;line-height:30px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
#hdmain .icart .settle-group .p-single{min-height:44px;_height:44px;margin:12px 10px 0}
#hdmain .icart .settle-group .p-one{float:left;width:180px;height:44px;margin-bottom:12px}
#hdmain .icart .settle-group .p-img{float:left;width:32px;height:42px;overflow:hidden;margin-right:6px;border:1px solid #e2e2e2;background-color:#f7f7f7}
#hdmain .icart .settle-group .p-img img{width:32px;height:42px;vertical-align:top}
#hdmain .icart .settle-group .p-name{float:left;width:140px;height:39px;line-height:18px;padding-top:3px;overflow:hidden}
#hdmain .icart .settle-group .p-detail{float:right;text-align:right;padding-top:3px;margin-bottom:8px}
#hdmain .icart .settle-group .p-detail .integral{color:#e4004f}
#hdmain .icart .settle-group .p-detail .integral i{color:#666;font-style:normal}
#hdmain .icart .settle-group .p-detail .p-price{font-family:Arial}
#hdmain .icart .settle-group .p-detail .p-price strong{color:#e5004f}
#hdmain .icart .settle-group .p-detail .p-price i{padding:0 2px;font-style:normal}
#hdmain .icart .settle-group .p-detail a{position:relative;top:-2px}
#hdmain .icart .settle-heckout{padding:0 10px;border-top:1px solid #eaeaea}
#hdmain .icart .settle-heckout span {display:block;height:30px;padding:10px 0 5px;text-align:right;font-family:"\5b8b\4f53"}
#hdmain .icart .settle-heckout span b{font-family:Verdana;font-weight:400;padding:0 2px;color:#e5004f}
#hdmain .icart .settle-heckout span strong{font-family:Arial;font-weight:400;font-size:18px;color:#e5004f}
#hdmain .icart .settle-heckout div{height:30px;margin-bottom:10px;text-align:right}
#hdmain .icart .settle-heckout a{display:inline-block;width:100px;height:30px;line-height:30px;text-align:center;background-color:#e5004f;color:#fff}
#hdmain .icart .settle-heckout a:hover{color:#fff;text-decoration:underline}

#hdmenu {border-bottom:1px solid #2d2e2e;background-color:#fff}
.top-menu .nav-hr{float:left;height:39px}
.top-menu .nav-hr li{float:left;height:39px;padding:0 15px;position:relative;z-index:1}
.top-menu .nav-hr li a{float:left;height:39px;overflow:hidden;font:400 16px/20px "\5fae\8f6f\96c5\9ed1";color:#323333;text-align:center}
.top-menu .nav-hr li a span{float:left;height:26px;position:relative;padding:10px 10px 0;border-bottom:3px solid #fff}
.top-menu .nav-hr li .haitao{position:absolute;top:0px;right:12px;width:21px;height:17px;background:url(/rs/img/header-haitai-tips.gif) 0 0 no-repeat}
.top-menu .nav-hr li a:hover span,.nav-hr li.current-page a span{color:#e5004f;border-bottom:3px solid #e5004f}

.top-menu .nav-hr li.everyday{text-align:left;position:relative;letter-spacing:0}
.top-menu .nav-hr li.everyday a{padding-right:45px}
.top-menu .nav-hr li.everyday .everyday-new{height:17px;overflow:hidden;position:absolute;top:2px;left:82px;text-align:center;color:#fff;font:700 12px/17px Arial;display:none;zoom:1;cursor:hand}
.top-menu .nav-hr li.everyday .everyday-new span{display:block;float:left;height:17px}
.top-menu .nav-hr li.everyday .everyday-new .qipao_l,.top-menu .nav-hr li.everyday .everyday-new .qipao_r,.top-menu .nav-hr li.everyday .everyday-new .qipao_c{background:url(/rs/img/ec/v3/n_qipao.png) no-repeat;_background:url(/rs/img/ec/v3/n_qipao_ie6.png) no-repeat}
.top-menu .nav-hr li.everyday .everyday-new .qipao_l{background-position:0px 0;padding-left:8px;_background-position:1px 0;_padding-left:6px}
.top-menu .nav-hr li.everyday .everyday-new .qipao_r{background-position:right 0;padding-right:8px;_background-position:right 0;_padding-right:5px;font-size:12px}
.top-menu .nav-hr li.everyday .everyday-new .qipao_c{background-position:0 bottom;background-repeat:repeat-x}

.top-menu .nav-rr {float:right;height:38px;padding-top:1px;color:#cbcbcb}
.top-menu .nav-rr a{margin:0 8px;font:400 14px/38px "\5fae\8f6f\96c5\9ed1"}

/* {top-menu} 2014.11.06 */
.top-menu{clear:both;height:39px;position:relative;z-index:400}

/* {top-menu} */
.top-menu .menu-cate{float:left;width:210px;height:39px;position:relative}
.top-menu .menu-cate .menu-cate-title{position:absolute;z-index:2;width:210px;height:39px;display:block;float:left;font:400 18px/39px "\5fae\8f6f\96c5\9ed1";color:#fff;text-align:center;cursor:pointer;background-color:#222}
.top-menu .menu-cate-hover .menu-cate-title{background-position:0 -35px}
.top-menu .menu-cate .menu-cate-title:hover{color:#fff}
.top-menu .default-expand-menu .menu-cate-all-out{visibility:visible}
.top-menu .menu-cate-all-out{visibility:hidden;display:block;clear:both;float:left;position:absolute;top:39px;left:0;z-index:1;width:210px;height:470px;border-top:1px solid #222;background-color:#515151;-moz-box-shadow:3px 1px 5px rgba(0,0,0,0.2);-webkit-box-shadow:3px 1px 5px rgba(0,0,0,0.2);box-shadow:3px 1px 5px rgba(0,0,0,0.2)}
.top-menu .menu-cate-all-out dl{float:left;width:210px;height:46px;margin-bottom:1px;color:#666}
.top-menu .menu-cate-all-out dl dt{float:left;width:210px;height:30px;padding-top:16px;background-color:#333}
.top-menu .menu-cate-all-out dl dt.selected{background-color:#e5004f}
.top-menu .menu-cate-all-out dl dt a{float:left;color:#fff}
.top-menu .menu-cate-all-out dl dt a.category{margin:0 0 0 18px;height:20px;display:inline;font:400 16px/18px "\5fae\8f6f\96c5\9ed1"}
.top-menu .menu-cate-all-out dl dt a.hot{height:20px;font:400 12px/20px "\5fae\8f6f\96c5\9ed1"}
.top-menu .menu-cate-all-out dl dt a:hover{color:#fff;text-decoration:none}
.top-menu .menu-cate-all-out dl dt a.hot:hover{text-decoration:underline}
.top-menu .menu-cate-all-out dl dt i{float:left;width:0;height:16px;line-height:16px;position:relative;top:2px;left:0;font-size:0;overflow:hidden;border-left:1px solid #999;margin:0 8px}
.top-menu .menu-cate-all-out dl dt span{float:right;width:6px;height:11px;margin:5px 15px 0 0;background:url(/rs/img/header-01.png) -209px -111px no-repeat}
.top-menu .menu-cate-all-out dl dt.selected span{display:none}
.top-menu .menu-cate-all-out dl dt.selected i{border-left:1px solid #f280a7}

/* {top-menu list} 2013.12.03 */
.top-menu .menu-cate-all-out dl dt a em{display:inline-block;width:17px;height:17px;margin-right:7px;vertical-align:top;background:url(/rs/img/header-01.png) no-repeat}
.top-menu .menu-cate-all-out dl.dl-1 dt a em{background-position:-17px -110px}
.top-menu .menu-cate-all-out dl.dl-2 dt a em{background-position:-34px -110px}
.top-menu .menu-cate-all-out dl.dl-3 dt a em{background-position:-102px -111px}
.top-menu .menu-cate-all-out dl.dl-4 dt a em{background-position:-68px -111px}
.top-menu .menu-cate-all-out dl.dl-5 dt a em{background-position:-51px -111px}
.top-menu .menu-cate-all-out dl.dl-6 dt a em{background-position:-85px -110px}
.top-menu .menu-cate-all-out dl.dl-7 dt a em{background-position:-119px -111px}
.top-menu .menu-cate-all-out dl.dl-8 dt a em{background-position:-136px -111px}
.top-menu .menu-cate-all-out dl.dl-9 dt a em{background-position:-136px -111px}
.top-menu .menu-cate-all-out dl.dl-10 dt a em{background-position:-153px -111px}
.top-menu .menu-cate-all-out dl.dl-12 dt a em{background-position:0 -108px}

.top-menu .menu-cate-all-out dl.dl-1 dt.selected a em{background-position:-17px -128px}
.top-menu .menu-cate-all-out dl.dl-2 dt.selected a em{background-position:-34px -128px}
.top-menu .menu-cate-all-out dl.dl-3 dt.selected a em{background-position:-102px -129px}
.top-menu .menu-cate-all-out dl.dl-4 dt.selected a em{background-position:-68px -129px}
.top-menu .menu-cate-all-out dl.dl-5 dt.selected a em{background-position:-51px -129px}
.top-menu .menu-cate-all-out dl.dl-6 dt.selected a em{background-position:-85px -128px}
.top-menu .menu-cate-all-out dl.dl-7 dt.selected a em{background-position:-119px -129px}
.top-menu .menu-cate-all-out dl.dl-8 dt.selected a em{background-position:-136px -129px}
.top-menu .menu-cate-all-out dl.dl-9 dt.selected a em{background-position:-136px -129px}
.top-menu .menu-cate-all-out dl.dl-10 dt.selected a em{background-position:-153px -129px}
.top-menu .menu-cate-all-out dl.dl-12 dt.selected a em{background-position:0 -126px}

.top-menu .menu-cate-all-out dl dd{visibility:visible;position:absolute;z-index:1000;top:0px;left:210px}
.top-menu .menu-cate-all-out dl dd.height-limit{height:470px;overflow:hidden;zoom:1}

/* {top-menu main} */
.top-menu .submenu{width:495px;float:left;padding-bottom:10px;letter-spacing:0;background:url(/rs/img/category-listings3.png) 0 0 repeat-y;opacity:0.97;filter:alpha(opacity:97)}
.top-menu .submenu .alpha-bg{position:absolute;left:0;top:0;width:100%;height:100%;float:left;z-index:-1}
.top-menu .submenu .sorts-list{float:left;width:295px;padding:8px 20px 0}
.top-menu .submenu .sorts-list a:hover{color:#e5004f}
.top-menu .submenu .sorts-repeat{padding:8px 0 7px 0;*padding:7px 0 6px 0;_padding:7px 0 6px 0;line-height:20px;border-bottom:1px dotted #666}
.top-menu .submenu .sorts-repeat h3{width:295px;text-align:left;font-size:14px;font-weight:400}
.top-menu .submenu .sorts-repeat h3 a{color:#fff;font-family:"\5fae\8f6f\96c5\9ed1"}
.top-menu .submenu .sorts-repeat p{width:295px}
.top-menu .submenu .sorts-repeat p a{margin-right:10px;color:#fff;float:left;display:inline;white-space:nowrap}
.top-menu .submenu .sorts-brand{float:left;width:145px;padding:15px 0 15px 15px}
.top-menu .submenu .sorts-brand a:hover{color:#e5004f}
.top-menu .submenu .sorts-brand h3{width:130px;height:26px;margin-bottom:5px;text-align:left;font-size:14px;color:#fff;font-family:"\5fae\8f6f\96c5\9ed1";border-bottom:1px dotted #666}
.top-menu .submenu .sorts-brand p{width:130px}
.top-menu .submenu .sorts-brand p a{margin-right:10px;color:#fff;float:left;display:inline;white-space:nowrap;height:24px;line-height:24px}
.top-menu .submenu .sorts-none{border:none}

/* {foot} */
#ft{margin-top:20px;padding-top:20px;background-color:#fff}
#ft .itips{width:1188px;height:88px;margin-bottom:35px;border:1px solid #eee;background-color:#f7f7f7}
#ft .itips span{float:left;border-right:1px solid #eee;font-family:"\5fae\8f6f\96c5\9ed1"}
#ft .itips span strong{display:block;font-size:16px;font-weight:400;color:#000}
#ft .itips span strong i{font-style:normal;color:#e5004f}
#ft .itips span b{font-weight:400;color:#888}
#ft .itips .service{width:282px;height:68px;padding:20px 0 0 45px}
#ft .itips .service strong{display:inline-block;padding:0 20px 0 24px;font-size:20px;font-family:Arial;color:#e5004f;background:url(/rs/img/footer-01.png) 2px 0 no-repeat}
#ft .itips .service i{font-style:normal}
#ft .itips .service b{padding-left:24px;font-size:14px;font-family:Arial;background:url(/rs/img/footer-01.png) 0 -28px no-repeat}
#ft .itips .delivery{width:186px;height:65px;padding:23px 0 0 100px;background:url(/rs/img/footer-01.png) 52px -56px no-repeat}
#ft .itips .genuine{width:182px;height:65px;padding:23px 0 0 104px;background:url(/rs/img/footer-01.png) 52px -132px no-repeat}
#ft .itips .freight{width:140px;border-right:none;height:65px;padding:23px 0 0 115px;background:url(/rs/img/footer-01.png) 52px -203px no-repeat}
#ft .ilinks{text-align:center;margin-bottom:25px}
#ft .ilinks a{margin:0 10px;color:#757575}
#ft .ilinks a:hover{color:#e5004f}
#ft .copyright{text-align:center}
#ft .copyright p a{margin:0 6px;color:#b2b2b2}
#ft .copyright p{line-height:22px;color:#b2b2b2}
#ft .all-mark{padding:10px 0 20px;text-align:center}
#ft .all-mark a{display:inline-block;margin:0 12px;vertical-align:middle}
#ft .all-mark a.m-integrity{width:112px;height:40px}
#ft .all-mark a.cnnic{width:102px;height:40px}
#ft .all-mark a.cnnic img{width:102px;height:40px}
#ft .all-mark a.commerce{width:48px;height:48px}

/* {pagination} */
.m-page{float:right;margin-top:10px}
.m-page input{width:32px;background:#e7e7e7;border:solid 1px #999;text-align:center;margin:0 2px;color:#666}
.m-page span{margin:0 5px}
.p-pre,.p-next,.g-pre,.g-next{background:url(http://r.ytrss.com/rs/img/uc2-pngs.png) no-repeat;overflow:hidden;zoom:1;display:inline-block;vertical-align:middle;margin:0 5px;width:4px;height:8px}
.p-pre{background-position:0 -1px}
.p-pre:hover{background-position:0 -11px}
.p-next{background-position:-20px -1px}
.p-next:hover{background-position:-20px -11px}
.g-pre{background-position:0 -21px;cursor:default}
.g-next{background-position:-20px -21px;cursor:default}
a.g-no{color:#999;cursor:default}
.go{background:#858585;border:solid 1px #666;height:16px;line-height:16px;padding:0 10px;color:#fff}

/* {error info} */
.error{margin:30px auto;width:480px}
.er-fl{float:left}
.er-fl.pl{margin:15px 20px 0 0}
.er-fl p{line-height:200%}

/* {pageJump} */
.skipup{width:200px;margin:200px auto;text-align:center;font-size:14px}

/*-- Others --*/
/* {pagination2} */
.c-page .c-p-up span,.c-page .c-p-down span,.c-page .c-p-first span,.c-page .c-p-last span{width:4px;height:8px;margin:5px 0 0;background:url(http://r.ytrss.com/rs/img/uc-pngs.png) no-repeat;line-height:0;font-size:0}
.c-page{height:18px;padding:10px 0;line-height:18px}
.c-p-c{text-align:center}
.c-p-r{text-align:right}
.c-page:after{display:block;height:0;clear:both;font-size:0;content:".";visibility:hidden}
.c-page{letter-spacing:-6px}
.c-page a,.c-page span,.c-page em,.c-page input,.c-page button{display:inline-block;*zoom:1;letter-spacing:0}
.c-page a{width:50px;height:18px;padding:0 5px}
.c-page .c-p-up span{background-position:0 -1px;margin-left:-1px}
.c-page .c-p-up:hover span{background-position:0 -11px}
.c-page .c-p-down span{background-position:-15px -1px}
.c-page .c-p-down:hover span{background-position:-15px -11px}
.c-page .c-p-first span{background-position:0 -21px;color:#666}
.c-page .c-p-last span{background-position:-15px -21px;color:#666}
.c-page span{padding:0 3px}
.c-page em{padding:0 5px}
.c-page .pageinput{width:32px;padding:2px 3px;background:#fff;border:1px solid #ccc;text-align:center;margin:0 3px}

/* {add nav begin} */
.se_nav,.se_nav_inside,.se_nav_bg,.se_nav_list{width:100%}
.se_nav,.se_nav_bg,.se_nav_list{position:absolute}
.se_nav{bottom:7px;z-index:-1}
.se_nav_inside{position:relative;left:0;top:0}
.se_nav_bg{height:30px;background:#595959;filter:alpha(opacity:20);opacity:0.2}
.se_nav_list ul{width:936px;margin:0 auto}
.se_nav_inside ul li{float:left;line-height:30px;height:30px;display:inline;margin-left:0;margin-right:96px}
.se_nav_inside ul li a,.se_nav_inside ul li{color:#414546}
.se_nav_inside ul li.se_nav_cl{margin:0}

/* {common list by geyx} */
.sth{width:200px}
.menu{position:relative}
.menu-bd {overflow:hidden;position:absolute;top:26px;z-index:4}
.menu-bd .menu-round-top{background:url(/rs/img/ec/v3/corn_4_a.gif) 0 -4px no-repeat;padding-left:4px;font-size:0}
.menu-bd .menu-round-top .inner{background:url(/rs/img/ec/v3/corn_4_a.gif) top right no-repeat;height:4px}
.menu-bd .menu-round-bot{background:url(/rs/img/ec/v3/corn_4_a.gif) 0 -8px no-repeat;padding-left:4px;font-size:0}
.menu-bd .menu-round-bot .inner{background:url(/rs/img/ec/v3/corn_4_a.gif) bottom right no-repeat;height:4px}
.menu-bd .menu-round-bd{border-left:solid 1px #dedede;border-right:solid 1px #dedede;padding:10px;background:#fff}
.menu-round-bd .product-list{position:relative;overflow:hidden;line-height:24px;_height:1%}
.menu-hd {background:url(/rs/img/ec/v3/spe-sell/select.png) no-repeat scroll 0 0 transparent;height:24px;overflow:hidden}
.menu-hd .sbutton{float:left;height:24px;line-height:24px;padding:0 0 0 11px;width:88px}
.menu-hd .more{float:left;height:24px;width:35px}
.menu-hd .more span{display:none}

/* {shoppingCart Hear} */
#hd.yt-cart{min-height:85px;_height:85px}
#hd.yt-cart .ihead{padding-top:0;height:91px}
#hd.yt-cart .ilog{margin-top:25px;width:690px}
#hdmain .hotkeyword .yt_hotword{color:#e5004f}
#hdmenu .yt_hotword{color:#e5004f}