body{
	font-size: 16px;
	font-family: "Arial";
}
body,h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd,input{
 	margin: 0;
 	padding:0;
 	list-style:none;
}
a{
	text-decoration: none;
	
}
.header{
	height:45px;
	background: #aaff67;
	margin:0 auto;
	position: fixed;
	top:0;
	left:0;
	right:0;	
}
.header .back{
	float: left;
	height: 40px;
	line-height: 40px;
	padding-left: 15px;
}
.header ul{
	float: right;
}
.header ul li{
	float:left;
	height: 40px;
	line-height: 40px;
}
.refresh,.add{
	padding-right: 15px;
}




.container{
	position: fixed;
	top:45px;
	left:0;
	right:0;
	bottom: 0;
	margin:auto;
    overflow-y: auto;
}
.contacts-inner{
	background: rgba(0,0,0,0.2);
}

.contacts .title{
	background: rgba(1,0,0,0.2);
	padding:0 10px 0 5px;
}
.contacts .xinxi{
	margin:0 10px;
	border-bottom: 1px solid black;
}
.contacts .xinxi li{
	padding:5px 10px;
}


.findlist{
	width: 20px;
	/*height: 476px;*/
	background: rgba(1,0,0,0.2);
	text-align: center;
	position: fixed;
	top:0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.tips{
	background: rgba(1,1,0,0.2);
	
}
.position-center{
	position: fixed;
	top:0;
	bottom: 0;
	right: 0;
	margin: auto;
}
.card{
	width:100%;
	background: rgba(1,1,0,0.8);

}
.card ul{
	width: 98%;
	height: 60%;
	right:3px;
	background: white;
	/*padding:20px 20px;*/
	box-sizing:border-box;
	text-align: center;

}
.avatar{
	width: 70px;
	height: 70px;
	border-radius: 50px;
	border:1px solid black;
	display: inline-block;
	margin-left: -125px;
}
.name{
	float: right;
	margin-right: 50px;
	margin-top: 30px;
}
.phone{
	margin-top: 30px;
	height: 50px;
	border-bottom: 1px solid black;
	line-height: 50px;
	text-align: left;

}
.num{
	float: left;
	padding-left: 20px;
	margin-top: 120px;
}
.phoneicon{
	float: right;
	padding-right: 20px;
}
.buttom{
	display: inline-block;
	margin-top:30px;
	color: white;
	padding:8px 10px;
}
.delete{
	background: #ffaa89;
}
.submit{
	background: #aaff45;
}
.head{
	height: 25px;
	background: #aaff67;
	margin-bottom: 20px;
}
input{
	width:50%;
	border-bottom:1px solid black;
}
